TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here
TONCENTER_API_KEY=your_toncenter_api_key_here
TONCENTER_ENDPOINT=https://testnet.toncenter.com/api/v2/jsonRPC
NETWORK=testnet
ENABLE_MAINNET_EXECUTION=false
AGENT_WALLET_ENCRYPTION_KEY=your_32_byte_hex_key_here
DATABASE_PATH=./tonshield.db
MONITOR_INTERVAL_SECONDS=30
RISK_DROP_THRESHOLD_PERCENT=25
DEFAULT_SLIPPAGE_BPS=500
PAPER_TRADE=true
